{% extends 'base.html' %}
{% set active_menu_item = 'Edit Seminar' %}

{% block content %}
<!-- TODO: Styling should be updated on table once Bootstrap is added. -->
<h2>Add a Seminar End Time for Seminar: {{ seminar_week }}</h2>
<ul class="errors">
{% for field, errors in form.errors.items() %}
    <li>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </li>
{% endfor %}
</ul>
<form method="POST" class="pure-form pure-form-stacked">
    
    {{ form.csrf_token }}

    {{ form.finish.label(class='form-label') }}
    {{ form.finish(class='form-control') }}

    {{ form.submit(class='btn btn-primary my-2') }}

</form>
{% endblock %}